<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">
    <script id="anima-hotspots-script" src="hotspots.js"></script>
    <script id="anima-overrides-script" src="overrides.js"></script>
    <script src="https://animaapp.s3.amazonaws.com/js/timeline.js"></script>
    <style>@@import url("https://fonts.googleapis.com/css?family=Inter:400,300,500,600,800|Mulish:700,600");.component-wrapper a {  display: contents;  pointer-events: auto;  text-decoration: none;}.component-wrapper * {  -webkit-font-smoothing: antialiased;  box-sizing: border-box;  pointer-events: none;}.component-wrapper a *,.component-wrapper input,.component-wrapper video,.component-wrapper iframe {  pointer-events: auto;}.component-wrapper.not-ready,.component-wrapper.not-ready * {  visibility: hidden !important;}.screen a {  display: contents;  text-decoration: none;}.full-width-a {  width: 100%;}.full-height-a {  height: 100%;}.container-center-vertical {  align-items: center;  display: flex;  flex-direction: row;  height: 100%;  pointer-events: none;}.container-center-vertical > * {  flex-shrink: 0;  pointer-events: auto;}.container-center-horizontal {  display: flex;  flex-direction: row;  justify-content: center;  pointer-events: none;  width: 100%;}.container-center-horizontal > * {  flex-shrink: 0;  pointer-events: auto;}.auto-animated div {  --z-index: -1;  opacity: 0;  position: absolute;}.auto-animated input {  --z-index: -1;  opacity: 0;  position: absolute;}.auto-animated .container-center-vertical,.auto-animated .container-center-horizontal {  opacity: 1;}.overlay {  display: none;  height: 100%;  opacity: 0;  position: fixed;  top: 0;  width: 100%;}.overlay.animate-appear {  animation: reveal 0.3s ease-in-out 1 normal forwards;  display: block;  opacity: 0;}.overlay.animate-disappear {  animation: reveal 0.3s ease-in-out 1 reverse forwards;  display: block;  opacity: 1;}@@keyframes reveal {  from {    opacity: 0;  }  to {    opacity: 1;  }}.animate-nodelay {  animation-delay: 0s;}.align-self-flex-start {  align-self: flex-start;}.align-self-flex-end {  align-self: flex-end;}.align-self-flex-center {  align-self: flex-center;}.valign-text-middle {  display: flex;  flex-direction: column;  justify-content: center;}.valign-text-bottom {  display: flex;  flex-direction: column;  justify-content: flex-end;}input:focus {  outline: none;}.listeners-active,.listeners-active * {  pointer-events: auto;}.hidden,.hidden * {  pointer-events: none;  visibility: hidden;}.smart-layers-pointers,.smart-layers-pointers * {  pointer-events: auto;  visibility: visible;}.listeners-active-click,.listeners-active-click * {  cursor: pointer;}* {  box-sizing: border-box;}:root {   --black: #000000;  --milano-red: #b00e0e;  --orange-red: #ff1e1e;  --white: #ffffff;   --font-size-l: 16px;  --font-size-m: 14px;  --font-size-s: 12px;  --font-size-xl: 18px;  --font-size-xxl: 24px;   --font-family-inter: "Inter", Helvetica;}.inter-normal-black-14px {  color: var(--black);  font-family: var(--font-family-inter);  font-size: var(--font-size-m);  font-style: normal;  font-weight: 400;}.inter-medium-black-14px {  color: var(--black);  font-family: var(--font-family-inter);  font-size: var(--font-size-m);  font-style: normal;  font-weight: 500;}.inter-semi-bold-black-18px {  color: var(--black);  font-family: var(--font-family-inter);  font-size: var(--font-size-xl);  font-style: normal;  font-weight: 600;}.inter-light-black-14px {  color: var(--black);  font-family: var(--font-family-inter);  font-size: var(--font-size-m);  font-style: normal;  font-weight: 300;}.inter-medium-black-18px {  color: var(--black);  font-family: var(--font-family-inter);  font-size: var(--font-size-xl);  font-style: normal;  font-weight: 500;}.inter-semi-bold-orange-red-24px {  color: var(--orange-red);  font-family: var(--font-family-inter);  font-size: var(--font-size-xxl);  font-style: normal;  font-weight: 600;}.inter-extra-bold-white-18px {  color: var(--white);  font-family: var(--font-family-inter);  font-size: var(--font-size-xl);  font-style: normal;  font-weight: 800;}.inter-semi-bold-black-14px {  color: var(--black);  font-family: var(--font-family-inter);  font-size: var(--font-size-m);  font-style: normal;  font-weight: 600;}/* screen - informatsiia-o-polzovatele */.informatsiia-o-polzovatele {  align-items: center;  background-color: var(--white);  box-sizing: border-box;  display: flex;  flex-direction: column;  height: 2337px;  justify-content: flex-start;  mix-blend-mode: normal;  overflow: hidden;  overflow-x: hidden;  position: relative;  width: 373px;}.informatsiia-o-polzovatele .x1-Bb98Jk {  align-self: flex-start;  background-color: transparent;  flex-shrink: 1;   mix-blend-mode: normal;  object-fit: cover;  position: relative;  width: 340px;}.informatsiia-o-polzovatele .overlap-group-Bb98Jk {  background-color: transparent;  flex-shrink: 1;  height: 191px;  margin-right: 17.0px;  margin-top: 0px;  position: relative;  width: 324px;}.informatsiia-o-polzovatele .frame-1-BBWE0L {  align-items: flex-end;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 99px;  justify-content: flex-end;  left: 0px;  min-width: 308px;  position: absolute;  top: 92px;  width: auto;}.informatsiia-o-polzovatele .covid-19-5ws7jJ {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-bottom: -22px;  min-height: 111px;  min-width: 320px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 320px;}.informatsiia-o-polzovatele .text-BBWE0L {  background-color: transparent;  height: 94px;  left: 9px;  position: absolute;  top: 0px;  width: 315px;}.informatsiia-o-polzovatele .button-primary-Bb98Jk {  background-color: transparent;  cursor: pointer;  flex-shrink: 1;  height: 54px;  margin-top: 29px;  mix-blend-mode: normal;  position: relative;  width: 305px;}.informatsiia-o-polzovatele .x-Bb98Jk {  background-color: transparent;  color: transparent;  flex-shrink: 1;  font-family: var(--font-family-inter);  font-size: var(--font-size-s);  font-style: normal;  font-weight: 300;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-right: 1.0px;  margin-top: 12px;  min-height: 48px;  min-width: 320px;  position: relative;  text-align: center;  width: 320px;}.informatsiia-o-polzovatele .span0-cCa25c {  color: var(--black);  font-style: normal;}.informatsiia-o-polzovatele .span1-cCa25c {  color: var(--milano-red);  font-style: normal;}.informatsiia-o-polzovatele .text-Bb98Jk {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  flex-shrink: 1;  height: 71px;  justify-content: flex-start;  margin-left: 4.0px;  margin-top: 41px;  min-width: 317px;  position: relative;  width: auto;}.informatsiia-o-polzovatele .covid-19-sO41Er {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 71px;  min-width: 315px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 315px;}.informatsiia-o-polzovatele .overlap-group2-Bb98Jk {  align-self: flex-end;  background-color: transparent;  flex-shrink: 1;  height: 42px;  margin-top: 8px;  position: relative;  width: 350px;}.informatsiia-o-polzovatele .data-graph-result-5N7LJO {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 35px;  justify-content: flex-end;  left: 7px;  min-width: 343px;  mix-blend-mode: normal;  position: absolute;  top: 7px;  width: auto;}.informatsiia-o-polzovatele .item-nhftTH {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 17px;  min-width: 179px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: auto;}.informatsiia-o-polzovatele .statistic-nhftTH {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 132px;  min-height: 17px;  min-width: 0px;  mix-blend-mode: normal;  position: relative;  text-align: right;  width: auto;}.informatsiia-o-polzovatele .iconto-help-5N7LJO {  background-color: transparent;  height: 31px;  left: 0px;  mix-blend-mode: normal;  position: absolute;  top: 0px;  width: 31px;}.informatsiia-o-polzovatele .overlap-group5-Bb98Jk {  align-self: flex-end;  background-color: transparent;  flex-shrink: 1;  height: 42px;  margin-top: 5px;  position: relative;  width: 350px;}.informatsiia-o-polzovatele .data-graph-result-UNxKHX {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 35px;  justify-content: flex-end;  left: 7px;  min-width: 343px;  mix-blend-mode: normal;  position: absolute;  top: 7px;  width: auto;}.informatsiia-o-polzovatele .item-Ogm2x3 {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 17px;  min-width: 134px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: auto;}.informatsiia-o-polzovatele .statistic-Ogm2x3 {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 177px;  min-height: 17px;  min-width: 0px;  mix-blend-mode: normal;  position: relative;  text-align: right;  width: auto;}.informatsiia-o-polzovatele .iconto-help-UNxKHX {  background-color: transparent;  height: 31px;  left: 0px;  mix-blend-mode: normal;  position: absolute;  top: 0px;  width: 31px;}.informatsiia-o-polzovatele .overlap-group6-Bb98Jk {  align-self: flex-end;  background-color: transparent;  flex-shrink: 1;  height: 42px;  margin-top: 5px;  position: relative;  width: 350px;}.informatsiia-o-polzovatele .data-graph-result-17YqxY {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 35px;  justify-content: flex-end;  left: 7px;  min-width: 343px;  mix-blend-mode: normal;  position: absolute;  top: 7px;  width: auto;}.informatsiia-o-polzovatele .item-0wIylm {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 17px;  min-width: 149px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: auto;}.informatsiia-o-polzovatele .statistic-0wIylm {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 162px;  min-height: 17px;  min-width: 0px;  mix-blend-mode: normal;  position: relative;  text-align: right;  width: auto;}.informatsiia-o-polzovatele .iconto-help-17YqxY {  background-color: transparent;  height: 31px;  left: 0px;  mix-blend-mode: normal;  position: absolute;  top: 0px;  width: 31px;}.informatsiia-o-polzovatele .overlap-group7-Bb98Jk {  align-self: flex-end;  background-color: transparent;  flex-shrink: 1;  height: 35px;  margin-top: 12px;  position: relative;  width: 350px;}.informatsiia-o-polzovatele .data-graph-result-rnZUhC {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 35px;  justify-content: flex-end;  left: 7px;  min-width: 343px;  mix-blend-mode: normal;  position: absolute;  top: 0px;  width: auto;}.informatsiia-o-polzovatele .item-sOtL9Z {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 34px;  min-width: 270px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: auto;}.informatsiia-o-polzovatele .statistic-sOtL9Z {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 41px;  min-height: 17px;  min-width: 0px;  mix-blend-mode: normal;  position: relative;  text-align: right;  width: auto;}.informatsiia-o-polzovatele .iconto-help-rnZUhC {  background-color: transparent;  height: 31px;  left: 0px;  mix-blend-mode: normal;  position: absolute;  top: 0px;  width: 31px;}.informatsiia-o-polzovatele .overlap-group1-Bb98Jk {  align-self: flex-end;  background-color: transparent;  flex-shrink: 1;  height: 96px;  margin-top: 54px;  position: relative;  width: 350px;}.informatsiia-o-polzovatele .text-x29KA2 {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 71px;  justify-content: flex-start;  left: 7px;  min-width: 317px;  position: absolute;  top: 0px;  width: auto;}.informatsiia-o-polzovatele .x-kG6nuJ {  background-color: transparent;  color: var(--black);  flex-shrink: 1;  font-family: var(--font-family-inter);  font-size: var(--font-size-l);  font-style: normal;  font-weight: 600;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 71px;  min-width: 315px;  mix-blend-mode: normal;  position: relative;  text-align: center;  width: 315px;}.informatsiia-o-polzovatele .data-graph-result-x29KA2 {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 35px;  justify-content: flex-end;  left: 7px;  min-width: 343px;  mix-blend-mode: normal;  position: absolute;  top: 61px;  width: auto;}.informatsiia-o-polzovatele .item-cZARF5 {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 34px;  min-width: 208px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: auto;}.informatsiia-o-polzovatele .statistic-cZARF5 {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 103px;  min-height: 17px;  min-width: 0px;  mix-blend-mode: normal;  position: relative;  text-align: right;  width: auto;}.informatsiia-o-polzovatele .iconto-help-x29KA2 {  background-color: transparent;  height: 31px;  left: 0px;  mix-blend-mode: normal;  position: absolute;  top: 64px;  width: 31px;}.informatsiia-o-polzovatele .overlap-group3-Bb98Jk {  align-self: flex-end;  background-color: transparent;  flex-shrink: 1;  height: 37px;  margin-top: 21px;  position: relative;  width: 350px;}.informatsiia-o-polzovatele .data-graph-result-OStS8D {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 35px;  justify-content: flex-end;  left: 7px;  min-width: 343px;  mix-blend-mode: normal;  position: absolute;  top: 2px;  width: auto;}.informatsiia-o-polzovatele .item-s6mClL {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 17px;  min-width: 258px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: auto;}.informatsiia-o-polzovatele .statistic-s6mClL {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 53px;  min-height: 17px;  min-width: 0px;  mix-blend-mode: normal;  position: relative;  text-align: right;  width: auto;}.informatsiia-o-polzovatele .iconto-help-OStS8D {  background-color: transparent;  height: 31px;  left: 0px;  mix-blend-mode: normal;  position: absolute;  top: 0px;  width: 31px;}.informatsiia-o-polzovatele .overlap-group4-Bb98Jk {  align-self: flex-end;  background-color: transparent;  flex-shrink: 1;  height: 45px;  margin-top: 7px;  position: relative;  width: 350px;}.informatsiia-o-polzovatele .data-graph-result-cCwbI0 {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 35px;  justify-content: flex-end;  left: 7px;  min-width: 343px;  mix-blend-mode: normal;  position: absolute;  top: 0px;  width: auto;}.informatsiia-o-polzovatele .item-AzOcJY {  align-self: flex-end;  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-bottom: -16px;  min-height: 51px;  min-width: 280px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: auto;}.informatsiia-o-polzovatele .statistic-AzOcJY {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 31px;  min-height: 17px;  min-width: 0px;  mix-blend-mode: normal;  position: relative;  text-align: right;  width: auto;}.informatsiia-o-polzovatele .iconto-help-cCwbI0 {  background-color: transparent;  height: 31px;  left: 0px;  mix-blend-mode: normal;  position: absolute;  top: 14px;  width: 31px;}.informatsiia-o-polzovatele .banner-Bb98Jk {  background-color: transparent;  flex-shrink: 1;  height: 177px;  margin-left: 3.0px;  margin-top: 46px;  position: relative;  width: 356px;}.informatsiia-o-polzovatele .rectangle-1-pRcLMw {  background-color: var(--orange-red);  border-radius: 30px;  height: 132px;  left: -0px;  mix-blend-mode: normal;  position: absolute;  top: 12px;  transform: rotate(180.00deg);  width: 354px;}.informatsiia-o-polzovatele .design-pRcLMw {  background-color: transparent;  height: 154px;  left: 13px;  mix-blend-mode: normal;  position: absolute;  top: -0px;  width: 149px;}.informatsiia-o-polzovatele .rectangle-2-pRcLMw {  background-color: var(--white);  height: 33px;  left: 0px;  mix-blend-mode: normal;  position: absolute;  top: 144px;  transform: rotate(180.00deg);  width: 354px;}.informatsiia-o-polzovatele .covid-19-pRcLMw {  background-color: transparent;  color: var(--white);  font-family: var(--font-family-inter);  font-size: var(--font-size-m);  font-style: normal;  font-weight: 500;  height: auto;  left: 179px;  letter-spacing: 0.00px;  line-height: normal;  mix-blend-mode: normal;  position: absolute;  text-align: left;  top: 38px;  width: 149px;}.informatsiia-o-polzovatele .cta-pRcLMw {  align-items: flex-start;  background-color: var(--white);  border-radius: 20px;  box-sizing: border-box;  cursor: pointer;  display: flex;  flex-direction: row;  height: 24px;  justify-content: flex-start;  left: 177px;  min-width: 146px;  padding: 7.2px 45.5px;  position: absolute;  top: 108px;  width: auto;}.informatsiia-o-polzovatele .arrow-1-jCxX4w {  background-color: transparent;  flex-shrink: 1;  height: 8px;  margin-left: 0px;  position: relative;  width: 55px;}.informatsiia-o-polzovatele .overlap-group10-Bb98Jk {  background-color: transparent;  flex-shrink: 1;  height: 164px;  margin-left: 4.0px;  margin-top: 31px;  position: relative;  width: 317px;}.informatsiia-o-polzovatele .text-EVbxVI {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 94px;  justify-content: flex-start;  left: 0px;  min-width: 317px;  position: absolute;  top: 0px;  width: auto;}.informatsiia-o-polzovatele .x1000-pYhffc {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 94px;  min-width: 315px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 315px;}.informatsiia-o-polzovatele .message-send-EVbxVI {  align-items: flex-start;  background-color: transparent;  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/619d4a2ffd776f8fa96b7e27/releases/619d4a3ce2ce69400d770475/img/vector@2x.svg);  background-size: 100% 100%;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 98px;  justify-content: flex-start;  left: 35px;  min-width: 268px;  mix-blend-mode: normal;  padding: 15px 16px;  position: absolute;  top: 66px;  width: auto;}.informatsiia-o-polzovatele .lorem-ipsum-dol-adipiscing-elit-jxvxha {  background-color: transparent;  color: var(--white);  flex-shrink: 1;  font-family: var(--font-family-inter);  font-size: var(--font-size-m);  font-style: normal;  font-weight: 400;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 0px;  min-height: 34px;  min-width: 236px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 236px;}.informatsiia-o-polzovatele .message-send-zxzQUq {  align-items: flex-start;  background-color: transparent;  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/619d4a2ffd776f8fa96b7e27/releases/619d4a3ce2ce69400d770475/img/vector-1@2x.svg);  background-size: 100% 100%;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 98px;  justify-content: flex-start;  left: 12px;  min-width: 268px;  mix-blend-mode: normal;  padding: 15px 16px;  position: absolute;  top: 66px;  width: auto;}.informatsiia-o-polzovatele .lorem-ipsum-dol-adipiscing-elit-IWgBE8 {  background-color: transparent;  color: var(--white);  flex-shrink: 1;  font-family: var(--font-family-inter);  font-size: var(--font-size-xl);  font-style: normal;  font-weight: 400;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 0px;  min-height: 44px;  min-width: 236px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 236px;}.informatsiia-o-polzovatele .overlap-group8-Bb98Jk {  background-color: transparent;  flex-shrink: 1;  height: 326px;  margin-right: 3.0px;  margin-top: 59px;  position: relative;  width: 328px;}.informatsiia-o-polzovatele .textlabel-tZ3HdN {  background-color: transparent;  height: auto;  left: 1px;  letter-spacing: 0.00px;  line-height: normal;  mix-blend-mode: normal;  position: absolute;  text-align: left;  top: 247px;  width: 314px;}.informatsiia-o-polzovatele .text-tZ3HdN {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: column;  height: auto;  justify-content: flex-start;  left: 0px;  min-height: 326px;  position: absolute;  top: 0px;  width: 328px;}.informatsiia-o-polzovatele .x-ktYba5 {  align-self: center;  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-right: 3.0px;  min-height: 30px;  min-width: 315px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 315px;}.informatsiia-o-polzovatele .x-bBvQmn {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-top: 8px;  min-height: 112px;  min-width: 320px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 320px;}.informatsiia-o-polzovatele .x43-ktYba5 {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-top: 25px;  min-height: 27px;  min-width: 34px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 34px;}.informatsiia-o-polzovatele .x25-ktYba5 {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-top: 52px;  min-height: 27px;  min-width: 34px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 34px;}.informatsiia-o-polzovatele .textlabel-Bb98Jk {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 3.0px;  margin-top: 8px;  min-height: 44px;  min-width: 332px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 332px;}.informatsiia-o-polzovatele .text-g1xqoq {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  flex-shrink: 1;  height: 147px;  justify-content: flex-start;  margin-left: 2.0px;  margin-top: 70px;  min-width: 317px;  position: relative;  width: auto;}.informatsiia-o-polzovatele .symptomio-symptomio-eDBeQl {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 147px;  min-width: 315px;  mix-blend-mode: normal;  position: relative;  text-align: left;  width: 315px;}.informatsiia-o-polzovatele .span0-4rZdxR {}.informatsiia-o-polzovatele .span1-4rZdxR {}.informatsiia-o-polzovatele .button-primary-g1xqoq {  align-items: center;  background-color: var(--orange-red);  border-radius: 100px;  box-sizing: border-box;  cursor: pointer;  display: flex;  flex-direction: row;  flex-shrink: 1;  height: 54px;  justify-content: flex-start;  margin-right: 10.0px;  margin-top: 33px;  min-width: 305px;  mix-blend-mode: normal;  padding: 0 40.5px;  position: relative;  width: auto;}.informatsiia-o-polzovatele .textlabel-gdBIXj {  background-color: transparent;  flex-shrink: 1;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  margin-left: 0px;  min-height: 22px;  min-width: 224px;  mix-blend-mode: normal;  position: relative;  text-align: center;  width: auto;}.informatsiia-o-polzovatele .overlap-group9-Bb98Jk {  background-color: transparent;  flex-shrink: 1;  height: 94px;  margin-left: 1.0px;  margin-top: 69px;  position: relative;  width: 328px;}.informatsiia-o-polzovatele .text-BZG65j {  align-items: flex-start;  background-color: transparent;  box-sizing: border-box;  display: flex;  flex-direction: row;  height: 94px;  justify-content: flex-start;  left: 0px;  min-width: 317px;  position: absolute;  top: 0px;  width: auto;}.informatsiia-o-polzovatele .symptomio-2021-Pei4fi {  background-color: transparent;  color: transparent;  flex-shrink: 1;  font-family: var(--font-family-inter);  font-size: var(--font-size-m);  font-style: normal;  font-weight: 600;  height: auto;  letter-spacing: 0.00px;  line-height: normal;  min-height: 94px;  min-width: 315px;  position: relative;  text-align: left;  width: 315px;}.informatsiia-o-polzovatele .span0-opMj3p {  font-style: normal;}.informatsiia-o-polzovatele .span1-opMj3p {  color: var(--black);  font-size: var(--font-size-s);  font-style: normal;}.informatsiia-o-polzovatele .span2-opMj3p {  color: var(--milano-red);  font-size: var(--font-size-s);  font-style: normal;}.informatsiia-o-polzovatele .instagram-original-BZG65j {  background-color: transparent;  height: 24px;  left: 304px;  mix-blend-mode: normal;  position: absolute;  top: 2px;  width: 24px;}.informatsiia-o-polzovatele .linked-in-original-BZG65j {  background-color: transparent;  height: 24px;  left: 262px;  mix-blend-mode: normal;  position: absolute;  top: 38px;  width: 24px;}.informatsiia-o-polzovatele .twitter-original-BZG65j {  background-color: transparent;  height: 24px;  left: 304px;  mix-blend-mode: normal;  position: absolute;  top: 38px;  width: 24px;}.informatsiia-o-polzovatele .telegram-original-BZG65j {  background-color: transparent;  height: 24px;  left: 263px;  mix-blend-mode: normal;  position: absolute;  top: 3px;  width: 23px;}</style>
    <script id="anime-js-script" src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js" integrity="sha256-98Q574VkbV+PkxXCKSgL6jVq9mrVbS7uCdA+vt0sLS8=" crossorigin="anonymous"></script>
    <script id="imgloaded-js-script" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script id="imgloaded-js-script" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script id="imgloaded-js-script" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <style type="text/css">
        .vue-star-rating-star[data-v-ef4bc576] {
            overflow: visible !important
        }

        .vue-star-rating-star-rotate[data-v-ef4bc576] {
            transition: all .25s
        }

            .vue-star-rating-star-rotate[data-v-ef4bc576]:hover {
                transition: transform .25s;
                transform: rotate(-15deg) scale(1.3)
            }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-fde73a0c] {
            display: inline-block
        }

        .vue-star-rating-pointer[data-v-fde73a0c] {
            cursor: pointer
        }

        .vue-star-rating[data-v-fde73a0c] {
            display: flex;
            align-items: center
        }

        .vue-star-rating-inline[data-v-fde73a0c] {
            display: inline-flex
        }

        .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-left: 7px
        }

        .vue-star-rating-rtl[data-v-fde73a0c] {
            direction: rtl
        }

        .vue-star-rating-rtl .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-right: 10px;
            direction: rtl
        }

        .sr-only[data-v-fde73a0c] {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden
        }
    </style>
    <style>
        [_nghost-wff-c60] {
            font-family: Open Sans,sans-serif;
            color: #121212
        }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-ef4bc576] {
            overflow: visible !important
        }

        .vue-star-rating-star-rotate[data-v-ef4bc576] {
            transition: all .25s
        }

            .vue-star-rating-star-rotate[data-v-ef4bc576]:hover {
                transition: transform .25s;
                transform: rotate(-15deg) scale(1.3)
            }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-fde73a0c] {
            display: inline-block
        }

        .vue-star-rating-pointer[data-v-fde73a0c] {
            cursor: pointer
        }

        .vue-star-rating[data-v-fde73a0c] {
            display: flex;
            align-items: center
        }

        .vue-star-rating-inline[data-v-fde73a0c] {
            display: inline-flex
        }

        .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-left: 7px
        }

        .vue-star-rating-rtl[data-v-fde73a0c] {
            direction: rtl
        }

        .vue-star-rating-rtl .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-right: 10px;
            direction: rtl
        }

        .sr-only[data-v-fde73a0c] {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden
        }
    </style>
    <style>
        [_nghost-ysu-c60] {
            font-family: Open Sans,sans-serif;
            color: #121212
        }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-ef4bc576] {
            overflow: visible !important
        }

        .vue-star-rating-star-rotate[data-v-ef4bc576] {
            transition: all .25s
        }

            .vue-star-rating-star-rotate[data-v-ef4bc576]:hover {
                transition: transform .25s;
                transform: rotate(-15deg) scale(1.3)
            }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-fde73a0c] {
            display: inline-block
        }

        .vue-star-rating-pointer[data-v-fde73a0c] {
            cursor: pointer
        }

        .vue-star-rating[data-v-fde73a0c] {
            display: flex;
            align-items: center
        }

        .vue-star-rating-inline[data-v-fde73a0c] {
            display: inline-flex
        }

        .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-left: 7px
        }

        .vue-star-rating-rtl[data-v-fde73a0c] {
            direction: rtl
        }

        .vue-star-rating-rtl .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-right: 10px;
            direction: rtl
        }

        .sr-only[data-v-fde73a0c] {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden
        }
    </style>
    <style>
        [_nghost-jod-c60] {
            font-family: Open Sans,sans-serif;
            color: #121212
        }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-ef4bc576] {
            overflow: visible !important
        }

        .vue-star-rating-star-rotate[data-v-ef4bc576] {
            transition: all .25s
        }

            .vue-star-rating-star-rotate[data-v-ef4bc576]:hover {
                transition: transform .25s;
                transform: rotate(-15deg) scale(1.3)
            }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-fde73a0c] {
            display: inline-block
        }

        .vue-star-rating-pointer[data-v-fde73a0c] {
            cursor: pointer
        }

        .vue-star-rating[data-v-fde73a0c] {
            display: flex;
            align-items: center
        }

        .vue-star-rating-inline[data-v-fde73a0c] {
            display: inline-flex
        }

        .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-left: 7px
        }

        .vue-star-rating-rtl[data-v-fde73a0c] {
            direction: rtl
        }

        .vue-star-rating-rtl .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-right: 10px;
            direction: rtl
        }

        .sr-only[data-v-fde73a0c] {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden
        }
    </style>
    <style>
        [_nghost-own-c60] {
            font-family: Open Sans,sans-serif;
            color: #121212
        }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-ef4bc576] {
            overflow: visible !important
        }

        .vue-star-rating-star-rotate[data-v-ef4bc576] {
            transition: all .25s
        }

            .vue-star-rating-star-rotate[data-v-ef4bc576]:hover {
                transition: transform .25s;
                transform: rotate(-15deg) scale(1.3)
            }
    </style>
    <style type="text/css">
        .vue-star-rating-star[data-v-fde73a0c] {
            display: inline-block
        }

        .vue-star-rating-pointer[data-v-fde73a0c] {
            cursor: pointer
        }

        .vue-star-rating[data-v-fde73a0c] {
            display: flex;
            align-items: center
        }

        .vue-star-rating-inline[data-v-fde73a0c] {
            display: inline-flex
        }

        .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-left: 7px
        }

        .vue-star-rating-rtl[data-v-fde73a0c] {
            direction: rtl
        }

        .vue-star-rating-rtl .vue-star-rating-rating-text[data-v-fde73a0c] {
            margin-right: 10px;
            direction: rtl
        }

        .sr-only[data-v-fde73a0c] {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden
        }
    </style>
    <style>
        [_nghost-ofg-c60] {
            font-family: Open Sans,sans-serif;
            color: #121212
        }
    </style>
</head>
<body style="margin: 0;background: #ffffff;">
    <input type="hidden" id="anPageName" name="page" value="informatsiia-o-polzovatele">
    <div class="container-center-horizontal">
        <div class="informatsiia-o-polzovatele screen " data-id="1:2" style="margin-top: 35px;width:100%;padding-left: 25px;padding-right: 25px;">
            <img src="/img/logo.svg" style="margin:auto;padding-right: 25px;padding-top: 20px;padding-bottom: 30px;padding-left: 25px;width:300px;">
            <div class="overlap-group-Bb98Jk" data-id="an|KUSbmyHZ" style="width:100%;margin-top: 10px;margin-bottom: -25;">
                <div class="frame-1-BBWE0L" data-id="6:9" style="
    margin-top: -20;
">
                    <div class="covid-19-5ws7jJ inter-light-black-14px" data-id="6:8" style="width:100%;margin-left: 10px;margin-top: 0px;padding-top: 0px;">Система, пользуясь методами гибкой логики и сложного древа решений, на основе указанных данных о ваших недомоганиях помогает выявить COVID-19 на ранней стадии заболевания</div>
                </div>
                <div class="covid-19-sO41Er inter-semi-bold-black-18px" data-id="11:4" style="width:100%;margin-left: 10px;margin-bottom: 0px;">Расскажите нам, что вас беспокоит, а Симптомио поможет понять риск заболевания COVID-19</div>
            </div>

            <a href="/home/onboarding">
                <div class="button-primary-g1xqoq" data-id="14:247" style="
    margin-right: 0px;
">
                    <div class="textlabel-gdBIXj inter-extra-bold-white-18px" data-id="I14:247;6:11">Пройти диагностику</div>
                </div>
            </a>
            <div class="x-Bb98Jk" data-id="6:18"><span class="span0-cCa25c">Нажимая кнопку “Пройти диагностику”, я принимаю </span><span class="span1-cCa25c">политику конфиденциальности</span></div>
            <div class="text-Bb98Jk" data-id="11:3" style="width:100%">
                <div class="covid-19-sO41Er inter-semi-bold-black-18px" data-id="11:4" style="width:100%">Симптомио быстро и точно проверит ваши симптомы на наличие совпадений с COVID-19</div>
            </div>
            <div class="overlap-group2-Bb98Jk" data-id="an|EFnEB2Lq" style="width:100%">
                <div class="data-graph-result-5N7LJO" data-id="11:14">
                    <div class="item-nhftTH inter-medium-black-14px" data-id="I11:14;11:6">Заполните данные о себе</div>
                    <div class="statistic-nhftTH inter-normal-black-14px" data-id="I11:14;11:7"></div>
                </div>
                <img class="iconto-help-5N7LJO" data-id="14:56" src="/img/tohelp.svg" anima-src="/img/tohelp.svg">
            </div>
            <div class="overlap-group5-Bb98Jk" data-id="an|P58MwMhr" style="width:100%">
                <div class="data-graph-result-UNxKHX" data-id="11:19">
                    <div class="item-Ogm2x3 inter-medium-black-14px" data-id="I11:19;11:6">Введите симптомы</div>
                    <div class="statistic-Ogm2x3 inter-normal-black-14px" data-id="I11:19;11:7"></div>
                </div>
                <img class="iconto-help-UNxKHX" data-id="14:63" src="/img/tohelp.svg" anima-src="/img/tohelp.svg">
            </div>
            <div class="overlap-group6-Bb98Jk" data-id="an|TAmqYeae" style="width:100%">
                <div class="data-graph-result-17YqxY" data-id="11:24">
                    <div class="item-0wIylm inter-medium-black-14px" data-id="I11:24;11:6">Ответьте на вопросы</div>
                    <div class="statistic-0wIylm inter-normal-black-14px" data-id="I11:24;11:7"></div>
                </div>
                <img class="iconto-help-17YqxY" data-id="14:66" src="/img/tohelp.svg" anima-src="/img/tohelp.svg">
            </div>
            <div class="overlap-group7-Bb98Jk" data-id="an|RvCcWFLl" style="width:100%">
                <div class="data-graph-result-rnZUhC" data-id="11:29">
                    <div class="item-sOtL9Z inter-medium-black-14px" data-id="I11:29;11:6">Получите развернутую консультацию<br>по поводу состояния вашего здоровья</div>
                    <div class="statistic-sOtL9Z inter-normal-black-14px" data-id="I11:29;11:7"></div>
                </div>
                <img class="iconto-help-rnZUhC" data-id="14:69" src="/img/tohelp.svg" anima-src="/img/tohelp.svg">
            </div>
            <div class="overlap-group1-Bb98Jk" data-id="an|fGugSNFV" style="width:100%">
                <div class="text-x29KA2" data-id="11:34" style="width:100%">
                    <div class="x-kG6nuJ" data-id="11:35" style="width:100%">По результатам диагностики вы получите информацию:</div>
                </div>
                <div class="data-graph-result-x29KA2" data-id="11:37">
                    <div class="item-cZARF5 inter-medium-black-14px" data-id="I11:37;11:6">О вероятности наличия у вас <br>заболевания COVID-19</div>
                    <div class="statistic-cZARF5 inter-normal-black-14px" data-id="I11:37;11:7"></div>
                </div>
                <img class="iconto-help-x29KA2" data-id="14:72" src="/img/tohelp.svg" anima-src="/img/tohelp.svg">
            </div>
            <div class="overlap-group3-Bb98Jk" data-id="an|H4HFUwld" style="width:100%">
                <div class="data-graph-result-OStS8D" data-id="11:42">
                    <div class="item-s6mClL inter-medium-black-14px" data-id="I11:42;11:6">О вариантах последующих действий</div>
                    <div class="statistic-s6mClL inter-normal-black-14px" data-id="I11:42;11:7"></div>
                </div>
                <img class="iconto-help-OStS8D" data-id="14:73" src="/img/tohelp.svg" anima-src="/img/tohelp.svg">
            </div>
            <div class="overlap-group4-Bb98Jk" data-id="an|An3qG0ME" style="width:100%">
                <div class="data-graph-result-cCwbI0" data-id="11:47">
                    <div class="item-AzOcJY inter-medium-black-14px" data-id="I11:47;11:6">О ближайших к вам пунктах <br>прохождения медкомиссии и <br>тестирования на заболевание COVID-19</div>
                    <div class="statistic-AzOcJY inter-normal-black-14px" data-id="I11:47;11:7"></div>
                </div>
                <img class="iconto-help-cCwbI0" data-id="14:74" src="/img/tohelp.svg" anima-src="/img/tohelp.svg">
            </div>
            <div class="banner-Bb98Jk" data-id="14:81">
                <div class="rectangle-1-pRcLMw" data-id="14:82"></div>
                <img class="design-pRcLMw" data-id="14:83" src="/img/doctor.svg" anima-src="https://anima-uploads.s3.amazonaws.com/projects/619d4a2ffd776f8fa96b7e27/releases/619d4a3ce2ce69400d770475/img/design@2x.svg">
                <div class="rectangle-2-pRcLMw" data-id="14:217"></div>
                <div class="covid-19-pRcLMw" data-id="14:218">Узнайте больше про симптомы COVID-19 в нашей базе знаний</div>
                <div class="cta-pRcLMw" data-id="14:219"><img class="arrow-1-jCxX4w" data-id="14:221" src="/img/arrow1.svg" anima-src="/img/arrow1.svg"></div>
            </div>
            <div class="overlap-group10-Bb98Jk" data-id="an|pzxFbnIl">
                <div class="text-EVbxVI" data-id="14:222">
                    <div class="x1000-pYhffc inter-semi-bold-black-18px" data-id="14:223">Симптомио воспользовались уже более 1000 человек</div>
                </div>
                <img src="/img/messages.svg" style="
    margin-top: 70px;
    margin-left: 18px;
">


            </div>
            <div class="overlap-group8-Bb98Jk" data-id="an|56sZvN95" style="width:100%">
                <div class="x43-ktYba5 inter-semi-bold-orange-red-24px" style="
    margin-top: 0px;
    top: 215px;
">43</div>
                <div class="textlabel-tZ3HdN inter-medium-black-18px" data-id="14:243">Проанализированных симптома и биомаркера</div>
                <div class="text-tZ3HdN" data-id="14:239" style="width:100%">
                    <div class="x-ktYba5 inter-semi-bold-black-18px" data-id="14:240" style="width:100%">Как работает Симптомио?</div>
                    <div class="x-bBvQmn inter-light-black-14px" data-id="14:238" style="width:100%">Мы работаем по модели совпадений, которая имитирует логику врача во время постановки диагноза. Симптомы и их взаимосвязь собраны после исследований совпадений с заболевшими, и принятых решений врачей во время консультаций с больными.<br><br>Мы работаем с реальными врачами, и постоянно увеличиваем базу знаний.</div>


                </div>
            </div>
            <div class="x25-ktYba5 inter-semi-bold-orange-red-24px" data-id="14:242" style="width:100%;margin-top: 10px;">25</div>
            <div class="textlabel-Bb98Jk inter-medium-black-18px" data-id="14:244" style="width:100%">Логических веток выявления заболевания</div>
            <div class="text-g1xqoq" data-id="14:245">
                <div class="symptomio-symptomio-eDBeQl inter-semi-bold-black-18px" data-id="14:246"><span class="span0-4rZdxR inter-semi-bold-black-18px">Узнайте больше про интеллектуальный аналитический модуль заболеваний Symptom.io<br><br></span><span class="span1-4rZdxR inter-normal-black-14px">Symptomio может работать и с другими заболеваниями. Подключите в свою клинику модуль анализа симптомов пользователя и увеличте конверсию посетителей</span></div>
            </div>
            <a href="/Home/ForBusiness">
                <div class="button-primary-g1xqoq" data-id="14:247" style="
    margin-right: 0px;
">
                    <div class="textlabel-gdBIXj inter-extra-bold-white-18px" data-id="I14:247;6:11">Symptom.io для бизнеса</div>
                </div>
            </a>
            <div class="overlap-group9-Bb98Jk" data-id="an|Tyb7Jcte">
                <div class="text-BZG65j" data-id="14:249">
                    <div class="symptomio-2021-Pei4fi" data-id="14:250"><span class="span0-opMj3p inter-semi-bold-black-14px">Symptomio<br></span><span class="span1-opMj3p"><br>2021<br></span><span class="span2-opMj3p">Пользовательское соглашение</span></div>
                </div>
                <img class="instagram-original-BZG65j" data-id="14:264" src="/img/instagram.svg" anima-src="/img/instagram.svg"><img class="linked-in-original-BZG65j" data-id="14:269" src="/img/linkedIn.svg" anima-src="/img/linkedIn.svg"><img class="twitter-original-BZG65j" data-id="14:271" src="/img/twitter.svg" anima-src="/img/twitter.svg"><img class="telegram-original-BZG65j" data-id="14:277" src="/img/telegram.svg" anima-src="/img/telegram.svg">
            </div>
        </div>
    </div>
    <script src="launchpad-js/launchpad-banner.js" async=""></script>
    <script defer="" src="https://animaapp.s3.amazonaws.com/static/restart-btn.min.js"></script>
    <div at-magnifier-wrapper=""><div class="at-theme-light"><div class="at-base notranslate" translate="no"><div class="Z1-AJ" style="top: 0px; left: 0px;"></div></div></div></div><app-content ng-version="11.1.0"></app-content><app-content></app-content><app-content></app-content><app-content></app-content>
</body>
<app-content></app-content>
</html>